.button {
  background-color: #5652ab;
  border: none;
  padding: 15px 20px;
  border-radius: 7px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s all;
}

.disabled {
  opacity: 0.75;
}

@media (max-width: 640px) {
  .button {
    padding: 12px 20px;
  }
}
